body {
    font-family: 'Cairo', sans-serif;
    background-color: #f3f4f6;
    margin: 0;
    padding: 0;
    text-align: right;
    direction: rtl;
}

.dashboard-container {
    width: 90%;
    margin: 10px auto;
    background: #ffffff;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #2c3e50;
}

section {
    background: #f9f9f9;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}
